@charset "UTF-8";
/*COLORES*/
* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h5 {
  font-family: "Pacifico";
  font-size: 120px;
  color: #F9B303;
}

p {
  font-family: "Montserrat";
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 2;
  color: #051026;
}

a {
  font-family: "Montserrat";
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 2;
}

img {
  vertical-align: top;
}

.modal-backdrop {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  background-color: #051026;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
header a img {
  height: 100px;
}
header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header ul li {
  font-family: "Montserrat";
  margin: 15px;
  list-style: none;
  text-decoration: none;
}
header ul li a {
  list-style: none;
  text-decoration: none;
  color: #EFEFEF;
  font-weight: 700;
  transition: all 0.5s;
}
header ul li a:hover {
  color: #F9B303;
}
header .icons {
  display: flex;
  align-items: center;
}
header .icons a {
  color: #EFEFEF;
  margin: 20px;
  transition: all 0.5s;
}
header .icons a:hover {
  transform: translateY(-10px);
  color: #F9B303;
}
header .icons #shop {
  color: #F9B303;
  transition: all 0.5s;
}
header .icons #shop:hover {
  color: #EFEFEF;
}
header #exampleModalLongTitle {
  font-size: 20px;
  font-weight: 700;
  align-content: center;
}
header #shopList {
  display: flex;
  flex-direction: column;
}
header #shopList div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
  border-bottom: 1px solid #dee2e6;
}
header #shopList div:last-child {
  border-bottom: 0;
}
header #shopList div p {
  margin: 0 35px;
}
header #shopList div button {
  margin: 0 35px;
}

.welcome {
  background-image: url("../img/mainGrillhouse.jpeg");
  background-position: center;
  width: 100%;
  height: auto;
}
.welcome .welcome--título {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.welcome .welcome--título p {
  font-size: 40px;
  color: #EFEFEF;
}
.welcome .welcome--título h1 {
  font-size: 120px;
  color: #F9B303;
}

.container .products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .products div {
  border-radius: 10px;
  padding: 10px;
  width: 20%;
}
.container .products div .product--option {
  background-color: #EFEFEF;
  width: 100%;
}
.container .products div .product--option img {
  border-radius: 50%;
  width: 100%;
}
.container .products div .product--option .product--option--details {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .products div .product--option .product--option--details .name {
  margin-bottom: 20px;
  text-align: center;
}
.container .products div .product--option .product--option--details .name strong {
  padding-bottom: 15px;
  border-bottom: solid 1px #CC1800;
}
.container .products div .product--option .product--option--details .descript {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  color: #051026;
}
.container .products div .product--option .product--option--details button {
  border-radius: 5px;
  color: #051026;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  border: solid 1px #F9B303;
  padding: 10px 50px;
  transition: all 0.5s;
}
.container .products div .product--option .product--option--details button:hover {
  background-color: #F9B303;
}

footer {
  background-color: #051026;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
footer p {
  margin: 20px;
  color: #EFEFEF;
}
footer div {
  padding-top: 20px;
  border-top: solid 1px #EFEFEF;
}
footer div a {
  margin: 20px;
  color: #EFEFEF;
  transition: all 0.5s;
}
footer div a:hover {
  color: #F9B303;
}