//GENERALES

*{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h5{
    font-family: 'Pacifico';
    font-size: 120px;
    color: $color-amarillo;
}

p{
    font-family: 'Montserrat';
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2;
    color: $color-azul;
}

a{
    font-family: 'Montserrat';
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2;
}

img{
    vertical-align: top;
}
